@import '../../../style/variables';

.vertical {
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    width: 4rem;
    height: 7.5rem;

    .title {
        // border: 1px solid red;
        display: flex;
        @include center;
        width: 100%;
        font-family: $jost;
        font-weight: 500;
        color: $textColor;
        text-shadow: 0 0 1px $textShadow;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; 
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        height: 1.3rem;
    }

    .options {
        display: grid;
        grid-template-rows: 3.1rem 3.1rem;

        .box {
            display: grid;
            grid-template-columns: 20% 80%;
            // border: 1px solid black;
            .button {
                display: flex;
                @include center;
                // border: 1px solid black;
            }
    
            .curve {
                display: flex;
                @include center;
            }
        }
    }
}

.horizontal {
    display: flex;
    flex-direction: row;
    border: 1 px solid black;
    width: 6rem;
    height: 3rem;

    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    width: 8rem;
    height: 4.4rem;

    .title {
        // border: 1px solid red;
        display: flex;
        @include center;
        width: 100%;
        font-family: $jost;
        // -webkit-touch-callout: none; /* iOS Safari */
        // -webkit-user-select: none; /* Safari */
        // -khtml-user-select: none; /* Konqueror HTML */
        // -moz-user-select: none; /* Old versions of Firefox */
        // -ms-user-select: none; /* Internet Explorer/Edge */
        // user-select: none; 
        @include notselectable;
        font-weight: 500;
        color: $textColor;
        text-shadow: 0 0 1px $textShadow;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        height: 1.3rem;
    }

    .options {
        display: grid;
        grid-template-columns: 4rem 4rem;

        .box {
            display: grid;
            grid-template-columns: 20% 80%;
            // border: 1px solid black;
            .button {
                display: flex;
                @include center;
                // border: 1px solid black;
            }
    
            .curve {
                display: flex;
                @include center;
            }
        }
    }
}