@import '../../../style/variables';

.home {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    background : radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(199, 199, 199, 1) 13.78%, rgba(210, 212, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);

    display: flex;
    flex-direction: column;

    .nav {
        height: 7%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .logo {
            width: 73%;
            height: 110%;
            
            .xolombrisx {
                width: 10%;
                height: 40%;
                margin-top: 1rem;
            }
        }

        .links {
            width: 27%;
            height: 100%;

            display: grid;
            grid-template-columns: 50% 50%;


            .navBox {
                position: relative;
                display: flex; 
                @include center;
                text-align: center;
                vertical-align: middle;
                line-height: 1.1rem;
                font-family: $jost;
                font-weight: 400;
                font-size: 1.2rem;
                color: white;

                .text {
                    display: flex;
                    flex-direction: row;
                    &:hover {
                        cursor: pointer;
                    }

                    .ss {
                        border-bottom: 0.5px solid white; 
                    }

                    .bs {
                        color: #6d6d6d;
                        border-bottom: 0.5px solid rgb(105, 105, 105);
                    }
                }

                .polygon {
                    width: 1.2rem;
                    height: 1.2rem; 
                    margin-left: 0.2rem;
                    .polygonColor {
                        fill: white;
                    }
                }

                .active {
                    transform: rotate(-90deg)
                }

                .activeLink {
                    color: #6d6d6d;
                    text-decoration: none;
                    border-bottom: 0.5px solid rgb(105, 105, 105);
                }
            }
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 93%;
        width: 100%;

        .overlay {
            margin-top: 8rem;
            width: 30rem;
            height: 37rem;
            background-color: #FF9A8B;
            background-image: linear-gradient(45deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
            border-radius: 1rem;
            box-shadow: 0.3rem 0.4rem 0.4rem rgba($color: #666666, $alpha: 1.0);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .select {
                margin-top: 1rem;
                font-family: $PTSans;
                color: white;
            }

                
            .or {
                margin-top: 1rem;
                font-family: $jost;
                color: #633939;;
            }

            .loadProject {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
                font-family: $jost;

                margin-top: 1rem;
                border-radius: 1rem;
                background-color: white;
                height: 1.5rem;
                width: 10rem;
                box-shadow: 0.2rem 0.2rem 0.2rem rgb(119, 118, 118);
            }

            .buttons {
                display: flex;
                width: 80%;
                height: 4rem;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
            }

            .selector {
                width: 80%;
                height: 15rem;
                display: flex;
                @include center;
                
            }

            .division {
                margin-top: 2rem;
                width: 80%;
                height: 0;
                border: 1px solid black;
            }

            .errorMessage {
                margin-top: 1rem;
                font: $jost;
                color: $white;
            }

        }
    }
}