@import '../../../style/variables';

.home {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    background : radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(199, 199, 199, 1) 13.78%, rgba(210, 212, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);

    display: flex;
    flex-direction: column;

    .nav {
        height: 7%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .logo {
            width: 73%;
            height: 110%;
            
            .xolombrisx {
                width: 10%;
                height: 40%;
                margin-top: 1rem;
            }
        }

        .links {
            width: 27%;
            height: 100%;

            display: grid;
            grid-template-columns: 50% 50%;


            .navBox {
                position: relative;
                display: flex; 
                @include center;
                text-align: center;
                vertical-align: middle;
                line-height: 1.1rem;
                font-family: $jost;
                font-weight: 400;
                font-size: 1.2rem;
                color: white;

                .text {
                    display: flex;
                    flex-direction: row;
                    &:hover {
                        cursor: pointer;
                    }

                    .ss {
                        border-bottom: 0.5px solid white; 
                    }

                    .bs {
                        color: #6d6d6d;
                        border-bottom: 0.5px solid rgb(105, 105, 105);
                    }
                }

                .polygon {
                    width: 1.2rem;
                    height: 1.2rem; 
                    margin-left: 0.2rem;
                    .polygonColor {
                        fill: white;
                    }
                }

                .active {
                    transform: rotate(-90deg)
                }

                .activeLink {
                    color: #6d6d6d;
                    text-decoration: none;
                    border-bottom: 0.5px solid rgb(105, 105, 105);
                }
            }
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 93%;
        width: 100%;

        .overlay {
            margin-top: 8rem;
            width: 30rem;
            height: 37rem;
            background-color: #FF9A8B;
            background-image: linear-gradient(45deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
            border-radius: 1rem;
            box-shadow: 0.3rem 0.4rem 0.4rem rgba($color: #666666, $alpha: 1.0);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .select {
                margin-top: 1rem;
                font-family: $PTSans;
                color: white;
                font-size: 1.2rem;
            }

                
            .or {
                margin-top: 1rem;
                font-family: $jost;
                color: #633939;;
            }

            .loadProject {
                background: none;
                color: $textColor;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
                font-family: $jost;

                margin-top: 1rem;
                border-radius: 1rem;
                background-color: white;
                height: 1.5rem;
                width: 10rem;
                box-shadow: 0.2rem 0.2rem 0.2rem rgb(119, 118, 118);
            }

            .buttons {
                margin-top: 2rem;
                display: flex;
                width: 47%;
                height: 2.2rem;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                // border: 1px solid black;

                .form {
                    width: 10rem;
                    height: 2rem;
                    background-color: $white;
                    border-radius: 0.5rem;
                    display: flex;
                    @include shadow(0.3rem, 0.3rem, 0.4rem);
                    @include center;

                    .input {
                        width: 80%;
                        height: 1rem;
                        font-size: 0.9rem;
                        text-align: center;
                        font-family: $jost;
                        border: none;
                        outline: none;
                        border-bottom: 0.5px solid $textColor;
                        background-color: none;
                        text-shadow: 0 0 1px $textShadow;
                        color: $textColor;
                        &::placeholder {
                            color: $textColor;
                        }
                    }

                }

                .plus {
                    position: relative;

                    .modal {
                        position: absolute;
                        height: 2rem;
                        width: 9rem;
                        background-color: white;
                    }
                }
            }

            .selector {
                margin-top: 1rem;
                width: 49%;
                height: 10rem;
                // background-color: $light;
                background-color: rgb(214, 188, 188);
                background-image: linear-gradient(45deg, rgb(231, 154, 154), rgb(238, 164, 164), rgb(223, 150, 150) );
                border-radius: 2rem;
                display: flex;
                @include center;
                @include shadow(0.3rem, 0.3rem, 0.4rem);
                
                .projectList {
                    padding: 0;
                    padding-top: 1rem;
                    margin: 0;
                    width: 90%;
                    height: 80%;
                    // border: 1px solid black ; 
                    border-radius: 2rem;
                    background-color: $dark;
                    // background-image: linear-gradient(-45deg, $white, $light, $dark );
                    background-image: linear-gradient(-45deg, rgb(212, 129, 129), rgb(216, 174, 174), rgb(236, 202, 202) );
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    list-style: none;

                    .projectItem {
                        height: 1.5rem;
                        width: 89%;
                        background-color: white;
                        line-height: 1.5rem;
                        border-radius: 1rem;
                        font-size: 1.1rem;
                        text-align: center;
                        font-family: $jost;
                        border: none;
                        outline: none;
                        background-color: none;
                        text-shadow: 0 0 1px $textShadow;
                        // @include shadow(0.3rem, 0.3rem, 0.3rem);
                        // box-shadow: 0.3rem 0.3rem 0.3rem rgb(128, 128, 128);
                        color: $textColor;
                    }

                    .pointer {
                        cursor: pointer;
                    }
                }
                
            }

            .division {
                margin-top: 2rem;
                width: 80%;
                height: 0;
                border: 1px solid black;
            }

            .errorMessage {
                margin-top: 1rem;
                font: $jost;
                color: $white;
            }

        }
    }
}