@import '../../../style/variables';

.box {
    width: 4.2rem;
    height: 1.4rem;
    background-color: $white;
    @include shadow(0.3rem, 0.3rem, 0.4rem);
    display: flex;
    text-align: center;
    @include center;
    border-radius: 0.7rem;

    .text {
        display: flex;
        @include center;
        flex-direction: row;
        height: 90%;


        input[type="number"] {
            -moz-appearance: textfield;
    
        }
        input::-webkit-inner-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
            appearance: none;
        }
    
        input {
            height: 0.7rem;
            width: 1.7rem;
            font-size: 0.7rem;
            text-align: center;
            background-color: none;
            font-family: $jost;
            text-shadow: 0 0 1px $textShadow;
            border: none;
            border-bottom: 0.5px solid $textColor;
            outline: none;
            color: $textColor;
            &::placeholder {
                color: $textColor;
            }
        }

        
        
    }
    .bpm {
        display: flex;
        background-color: none;
        padding-bottom: 0.25rem;
        width: 1.5rem;
        height: 0.8rem;
        color: $textColor;
        font-size: 0.7rem;
        text-align: center;
        background-color: none;
        font-family: $jost;
    }


}