@import '../../style/variables';


html {
    .app {
        width: 100vw;
        display: flex;
        @include center;
        background-color: $light;

    }

    .content {
        display: grid;
        width: 98rem;
        height: 53rem;
        // border: 1px solid black;
        grid-template-rows: 2.5rem 34rem auto;

        .top {
            display: flex;
            @include center;
            // border-bottom: 1px solid black;

            .transport {
                border-radius: 0.5rem;
                background-color: white;
                @include shadow(7px, 9px, 5px);
                height: 90%;
                width: 13%;
            }
        }

        .mid {
            display: grid;
            // grid-template-columns: 19% 40% auto;
            grid-template-columns: 18.6rem 38.5rem auto;
            // border-bottom: 1px solid black;

            .arrangerColumn {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                // border-right: 1px solid black;

                .box {
                    height: 31rem;
                    width: 89%;
                    margin-right: 1rem;
                    border-radius: 2rem;
                    background-color: white;
                    margin-bottom: 1rem;
                    display: flex;
                    @include center;
                    @include shadow(7px, 9px, 5px);

                }
            }

            .instrumentColumn {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                // border-right: 1px solid black;

                .tabs {
                    width: 36.5rem;
                    height: 1.6rem;
                    // border: 1px solid black;
                }

                .box {
                    height: 91%;
                    width: 36.5rem;
                    border-radius: 2rem;
                    border-top-left-radius: 0;
                    background-color: white;
                    margin-bottom: 1rem;
                    display: flex;
                    @include shadow(7px, 9px, 5px);
                    // @include center;
                    justify-content: center;
                    align-items: flex-start;
                }
            }

            .effectsColumn {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                
                .wrapper {
                    margin-bottom: 1rem; 
                    margin-left: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    height: 91%;
                    width: 95%;

                    .fx {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 47%;
                        
                        .box {
                            border-radius: 2rem;
                            border-top-right-radius: 0;
                            background-color: white;
                            @include shadow(7px, 9px, 5px);
                            height: 100%;
                            width: 95%;
                        }

                        .tabs {
                            height: 100%;
                            width: 1.6rem;
                            // border: 1px solid black;
                        }
                    }
                }
            }
        }

        .bottom {
            display: grid;
            grid-template-columns: 18.6rem auto;

            .arrangerColumn {
                display: flex;
                // @include center;
                align-items: flex-start;
                justify-content: flex-end;
                // border-right: 1px solid black;

                .patterns {
                    margin-top: 1rem;
                    margin-right: 1rem;
                    width: 89%;
                    height: 90%;
                    border-radius: 2rem;
                    background-color: white;
                    @include shadow(7px, 9px, 5px);
                }
            }

            .sequencerColumn {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                .box {
                    margin-top: 1rem;
                    margin-left: 1rem;
                    border-radius: 2rem;
                    background-color: white;
                    width: 95%;
                    height: 90%;
                    @include shadow(7px, 9px, 5px);
                }
            
            }
        }
    }
    

    @media screen and (min-width: 1366px) {
        // iPad PRO, HD ready and FullHD 

        // here things will be relative to width of the viewport 
        // height is also gonna be relative to width of viewport 
        font-size: 1vw;

    }

    @media screen and (max-width: 1920px) and (min-width: 1724px){
        // here things are gonna be relative to em (fixed font-size to keep ratio)
        font-size: 17.4737px ;
    }

    @media screen and (min-width: 1024px) and (max-width: 1365px) {
        // most android tablets and ipads in landscape mode, older desktop/laptop monitors;
        font-size: 1vw;

        .content {
            width: 98rem;
            height: 53rem;
            // border: 1px solid black;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        // most android tablets and iPads in portrait mode (if orientation portrait force landscape?
    }

    @media screen and (min-width: 421px) and (max-width: 767px) {
        // most smartphones in landscape mode
    }

    @media screen and (max-width: 420px) {
        // smartphones in portrait mode;
    }

}