.transport {
    height: 50%;
    border: 1px black solid;
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: row;
    position: relative;

    .start,
    .stop {
        font-size: 8px;
        margin: auto;
        width: 10%;
        height: 3%;
    }

    .position {
        position: absolute;
    }
}