@import '../../../style/variables';

.div {
    margin-top: 0.8rem;
    height: 2.1rem;
    width: 100%;
    list-style: none;
    // border: 1px solid black;
    display: grid;
    grid-gap: 0.19rem;
    grid-template-columns: 14% 7.1rem 2.4rem auto;
    // margin: 0;
    // margin-right: 1rem;

    .delete {
        // border-right: 1px solid green;
        display: flex;
        @include center;
    }

    .selector {
        // border-right: 1px solid black;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;

        .out {
            position: absolute;
            top: 0.05rem;
        }
    }

    .repeat {
        // border-right: 1px solid black;
        display: flex;
        @include center;
    }

    .add {
        // border-right: 1px solid red;
        display: flex;
        @include center;
    }
}