@import '../../../style/variables';

.box {
    width: 8rem;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;

    .display {
        width: 3.4rem;
        height: 2rem;
        border-radius: 0.8rem;
        background-color: white;
        @include shadow(3px, 5px, 5px);
        display: flex;
        // justify-content: center;
        @include center;

        input {
            width: 2rem;
            margin-bottom: 0.1rem;
            text-align: center;
            height: 40%;
            background-color: none;
            outline: none;
            border: none;
            // border-bottom: 0.5px solid $textColor;
            border-bottom: 0.5px solid rgba(230, 230, 230, 0.7);
            font-family: $jost;
            text-shadow: 0 0 1px $textShadow;
            &::placeholder {
                color: $textColor;
            }
        }

        textarea, input {
            color: $textColor;
        }
    }
}