.arranger {
    width: 30%;
    height: 100%;
    border: 1px black solid;
    
    overflow: auto;

    .followMode {
        display: flex;
        flex-direction: row;
        margin: 5px auto;

        .free, 
        .following {
            border: 1px solid black;
            width: auto;
            height: 15px;
            margin: auto auto;
        }

        .selected {
            background-color: red($color: #000000);
        }
    }

    .modes {
        height: 8%;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;

        .pattern,
        .chain {
            border-right: 1px solid black;
        }

        .pattern,
        .chain,
        .song {
            width: 33.3%;
            height: 100%;
        }

    }

    
    .songManager {
        margin-top: 5px;
        display: flex;
        flex-direction: row;

        .addSong,
        .removeSong {
            width: 20px;
            height: 20px;
            border: 1px solid black;
            margin: auto;
        }

    }

    .editor {
        width: 70%;

        overflow: scroll;
        
        table, tr, th, tbody, td {
            border: 1px solid black;
        }

        .muteHeader {
            display: flex;
            flex-direction: row;
        }

        .lastItem {
            display: flex;
            flex-direction: row;
            height: 24px;
        }

        .addRow,
        .removeRow {
            text-align: center;
            // position: absolute;
            margin: auto;
        }


        th {
            font-size: 10px;
        }


        .arrangerMute {
            font-size: 10px;
            width: 50px;
        }

        .arrangerStart, 
        .arrangerEnd,
        .arrangerRepeat {
            font-size: 10px;
            width: 25px;
        }
    }
}