@import '../../../style/variables';

.hov {
    cursor: pointer;
}

.img {
    padding-left: 0.37em;
    padding-top: 0.35em;
}

.color {
    fill: $dark;
}

.svg {
    height: 70%;
    width: 70%;
    padding-left: 0.37rem;
    padding-top: 0.32rem;
}