@import 'values';
@import '../../containers/MainWindow/MainWindow.scss';

.topWrapper {
    // border: 1px solid black;
    height: $topSize;
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  
  .bottomWrapper {
    // border: 1px solid black;
    margin-top: $bottomWrapper-marginTop;
    display: flex;
    flex-direction: row;
    width: 100vw;
  }