@import '../../style/variables';

.box {
    background-color: $light;
    width: 47%;
    height: 100%;
    display: flex;
    // @include center;
    // justify-content: center;
    // align-items: flex-start;
    @include center;
    flex-direction: row;
    border-radius: 1rem;
    // margin-top: 2rem;
    align-self: center;

    .mamao {
        margin-top: 0.35rem;
    }

    .estopin {
        margin-top: 0.35rem;
        margin-left: 0.3rem;
    }
}