$faderHeight : 150px;
$indicatorSize: 5px;

.fader-wrapper {
    position: relative;
    width: 80px;
    height: 220px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;


    .volume-wrapper {
        position: relative;
        margin-top: 10px;
        width: 10px;
        height: $faderHeight;
        display: flex;
        // flex-direction: row;
        // justify-content: center;

    .indicator {
        position: absolute;
        width: 0;
        height: 0;
        border-top: $indicatorSize solid transparent;
        border-bottom: $indicatorSize solid transparent;
        border-left: $indicatorSize solid black;
        left: -10px;
        z-index: 100;
        // top: 5 + $faderHeight;
    }

        .volume-bar {
            width: 5px;
            height: $faderHeight;
            border: 1px solid black;
        }

        .meter {
            position: absolute;
            left: -29.5px;
            font-size: 8px;
            list-style: none;

            .infinity {
                font-size: 9px;
            }

            .level {
                margin-top: 2.7px;
                position: relative;
                text-align: left;



                &:last-child {
                    top: -6px;
                }
            }
        }

    }

    .crossPan {
        width: 80%;
        height: 0;
        border: 1px black solid;
        position: absolute;
        top: 80%;

        .indicator {
            position: absolute;
            top: -3px;
            // left: 100%;
            width: 0;
            height: 4px;
            border: 1px solid black;
        }


        .midPoint {
            position: absolute;
            top: -3px;
            left: 50%;
            width: 0;
            height: 4px;
            border: 1px solid red;
        }

    }

    .mixControls {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 85%;

        .grey {
            background-color: grey;
        }

        .blue {
            background-color: blueviolet;
        }

        .mute, 
        .solo {
            position: relative;
            height: 10px;
            width: 10px;
            margin: auto 3px;
            font-size: x-small;
            border: 1px solid black;


            p {
                position: absolute;
                margin: 0;
                line-height: 10px;
                left: 1px;
            }
        }
    }
}





