@import '../../style/variables';

.bottom {
    display: grid;
    grid-template-columns: 18.6rem auto;
    // border: 1px solid black;
    height: 17rem;

    .arrangerColumn {
        display: flex;
        // @include center;
        align-items: flex-start;
        justify-content: flex-end;
        // border-right: 1px solid black;

        .patterns {
            margin-top: 1rem;
            margin-right: 1rem;
            width: 89%;
            height: 93%;
            border-radius: 2rem;
            background-color: white;
            @include shadow(7px, 9px, 5px);
            display: flex;
            @include center;
        }
    }

    .sequencerColumn {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 17rem;

        .box {
            margin-top: 1rem;
            margin-left: 1rem;
            border-radius: 2rem;
            background-color: white;
            width: 95%;
            // border: 1px solid black;
            height: 93%;
            @include shadow(7px, 9px, 5px);
            display: flex;
            // justify-content: space-between;
            // flex-direction: row;
            @include center;

            .border {
                width: 98%;
                height: 90%;
                border: 0.2rem solid $dark;
                border-radius: 2rem;
                display: flex;
                // justify-content: space-between;
                justify-content: center;
                flex-direction: row;

                .stepSequencer{
                    width: 53%;
                    height: 100%;
                    display: flex;
                    @include center;
                    // border: 1px solid black;
                    // background-color: grey;
                }

                .keyInput {
                    width: 47%;
                    height: 100%;
                    display: flex;
                    @include center;
                    flex-direction: row;
                    border-radius: 1rem;
                    // border: 1px solid black;
                    // align-self: center; 
                }
            }

            // .stepSequencer{
            //     width: 53%;
            //     height: 100%;
            //     display: flex;
            //     @include center;
            //     // border: 1px solid black;
            //     // background-color: grey;
            // }

            // .keyInput {
            //     width: 47%;
            //     height: 100%;
            //     display: flex;
            //     @include center;
            //     flex-direction: row;
            //     border-radius: 1rem;
            //     // border: 1px solid black;
            //     // align-self: center; 
            // }
        }
    
    }
}