@import '../../../style/variables';

html {
    
    .home {
        @include homeBackground;
    
        .nav {
            @include navStyle;
    
            .logo {
                @include logo;
                
                .xolombrisx {
                    @include logoStyle;
                }
            }
    
            .links {
                @include links;
                grid-template-columns: 33% 33% 33%;
    
    
                .navBox {
                    @include navBox;
    
                    .text {
                        @include navText;
                    }
    
    
                    .activeLink {
                        @include activeLinkStyle;
                    }
                }
            }
        }
    
        .reset {
            @include mainStyle;
    
            .overlay {
                @include overlayStyle;
    
                .join {
                    @include titleStyle;
                }
    
                .field {
                    @include fieldStyle;
                }
    
                .downer {
                    margin-top: 1.4rem;
                }
    
                .login {
                    @include submitButton;
                    margin-top: 4rem;
                    width: 10rem;
                }
    
                .errorMessage {
                    @include errorStyle;
                }
    
            }
        }
    }

    // @media screen and (max-width: 420px) {
    @media screen and (max-width: 767px) {

        .home {

            .nav {
                height: 7vh;
                justify-content: space-between;
                // border: 1px solid black;
            }

            .reset {
                .overlay {
                    background: 'none';
                    background-color: transparent;
                    background-image: none;
                    box-shadow: none;
                    width: 100vw;
                    height: 80vh;
                    display: flex;

                    .join {
                        font-size: 4vmax;
                    }

                    .field {
                        margin: 0;
                        margin-top: 4rem;
                        width: 100vw;
                        height: 10vh;
                        display: flex; 
                        flex-direction: column;
                        @include center;

                        h3 {
                            font-size: 16px;
                        }

                        input {
                            width: 65vw;
                            height: 4vh;
                            border-radius: 3rem;
                            font-size: 16px;
                            text-align: center;
                        }

                    }

                    .errorMessage {
                        font-size: 16px;
                        width: 65vw;
                        height: 4vh;
                    }

                    .forgot {
                        font-size: 16px;
                    }

                    .login {
                        margin-top: 10rem;
                        width: 40vw;
                        height: 4vh;
                        font-size: 16px;
                        border-radius: 3rem;
                        
                    }

                    .google {

                        .or {
                            line-height: 8rem;
                            font-size: 16px;
                            margin-left: 9rem;
                        }

                        .googlota {
                            margin-bottom: 3rem;
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
        
    }

    @media screen and (min-width: 421px) and (max-width: 767px) {
        // most smartphones in landscape mode
        .home {
            height: auto;
            overflow: hidden;

            .nav {
                height: 10vh;
                // border: 1px solid black;
            }

            .reset {
                // border: 1px solid black;
                .overlay {
                    margin-top: 0;
                    // border: 1px solid black;

                    .join {
                        margin-top: 0;
                    }

                    .radio {
                        width: 40vw;
                    }

                    .field {
                        // border: 1px solid black;
                        margin-top: 0;
                        height: 15vh;

                        h3 {
                        }

                        input {
                            width: 40vmax;
                            // margin-top: 10vh;
                        }

                    }

                    .forgot {
                        margin-top: 6vh;
                    }

                    .login {
                        display: flex; 
                        @include center;
                        width: 15vw;
                        margin-top: 10vh;
                        height: 30px;
                        width: 25vw;
                    }

                    .google {
                        margin-top: 5vh;
                        margin-right: 0;
                        // border: 1px solid red;
                        text-align: center;;
                        display: flex;
                        height: 7vw;
                        @include center;

                        .or {
                            margin-top: 0;
                            margin-left: 0;
                        }

                        .googlota {
                            // border: 1px solid black;
                            margin-top: 2rem;
                        }
                    }
                }
            }
        } 
    }

}
