@import '../../../style/variables';

.wrapper {
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .title {
        width: 25%;
        height: 10%;
        display: flex;
        margin-right: 28.5rem;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0.2rem;
        
        h1 {
            font-size: 1.6rem;
            text-align: end;
            font-weight: 500;
            color: $textColor;
            text-shadow: 0 0 1px $textShadow;
            font-family: $jost;
            margin-bottom: 1.5rem;
            margin-left: 1.3rem;
        }
    }

    .overlay {
        background-color: $blue;
        width: 97%;
        height: 77%;
        border-radius: 1rem;
        display: grid;
        align-items: flex-end;
        grid-template-columns: 5% 90% 5%;
        margin-bottom: 0.9rem;

        .prev {
            height: 100%;
            display: flex;
            @include center;
        }

        .next {
            height: 100%;
            display: flex;
            @include center;
        }

        .stepsWrapper {
            height: 100%;
            display: grid;
            grid-template-rows: 10% 90%;
            margin: auto;

            .pages {
                width: 10rem;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-self: center;

                .pageSelector {
                    width: 0.8rem;
                    margin-top: 0.5rem;
                    height: 0.8rem;
                    background-color: white;
                    border-radius: 50%;
                    @include shadow(0.3rem, 0.3rem, 0.5rem);
                    display: flex;
                    @include center;
                    margin-left: 0.3rem;

                    .indicator {
                        width: 0.4rem;
                        height: 0.4rem;
                        border-radius: 50%;
                    }
                }
            }

            .steps {
                display: grid;
                grid-template-columns: repeat(8, 4.0rem);
                grid-template-rows: repeat(2, 1fr);

                .step {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;

                    svg {

                    }
                }
            }
        }
    }
}