@import '../../../../style/variables';

.svg {
    margin-left: 0.23rem;
    margin-top: 0.2rem;

    .color {
        fill: $dark;
    }

}

.hover {
    @include shadow(3px, 5px, 5px);
    cursor: pointer;
}