@import '../../../style/variables';

.wrapper {
        
    width: 8rem;
    height: 8rem;

    .title {
        display: flex;
        @include center;
        width: 8rem;
        font-family: $jost;
        font-weight: 500;
        color: $textColor;
        text-shadow: 0 0 1px $textShadow;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
    }

    .options {
        display: grid;
        grid-template-columns: 4rem 4rem;

        .box {
            display: grid;
            grid-template-columns: 20% 80%;

            .button {
                display: flex;
                @include center;
            }

            .waveform {
                display: flex;
                @include center;
            }
        }
    }
}