@import '../../../style/variables';

.fx {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 14.4rem;
    height: 14.8rem;
    // border: 1px solid black;
    // overflow: scroll;
    // @include center;
    
    .box {
        display: flex;
        @include center;
        border-radius: 2rem;
        border-top-right-radius: 0;
        background-color: white;
        @include shadow(7px, 9px, 5px);
        height: 100%;
        width: 95%;

        .border {
            width: 95.5%;
            height: 90%;
            border: 0.2rem solid $dark;
            border-radius: 2rem;
            border-top-right-radius: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            // align-items: flex-end;
            justify-content: flex-start;
            // justify-content: center;
        
            .deviceManager {
                height: 3rem;
                // border: 1px solid black;
                // width: 100%;
                display: flex;
                @include center;
                margin-top: 0.2rem;
                z-index: 2;
            }
        
        }
    }
}