@import '../../../../style/variables';

.wrapper {
    width: 89%;
    // border: 1px solid black;
    height: auto;
    display: flex;
    align-self: center;
    // position: absolute;
    // left: -2rem;
    // margin-top: 2.9rem;
    flex-direction: row;
    // padding-left: 0.5rem;
    // padding-right: 2rem;
    // margin-right: 2rem;
    padding-top: 0.2rem;
    justify-content: space-between;
    align-items: center;
    
    .Q {
        // border: 1px solid black;
    }

    .doubleKnob {
        position: relative;
        // margin-left: rem;
        width: 28%;
        height: 100%;
        display: flex;
        flex-direction: row;


        .block {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            // border: 1px solid black;
            // justify-content: space-between;
            @include center;

            .knob {
                position: absolute;
                top: 5rem;
            }

            .steppedKnob {
                position: absolute;
                // align-items: flex-start;
                // justify-content: flex-start;
                top: 4.3rem;
            }

            .titleClass {
                position: absolute;
                top: 5rem;
            }
        }
    }

    .gain {
        // margin-left: 1rem;
        position: absolute;
        // border: 1px solid black;
        left: 10rem;
        // width: 4rem;
    }


}

.title {
    position: absolute;
    left: 4rem;
    top: 0.8rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: $textColorTitle;
    text-shadow: 0 0 8px $textShadow;
    font-family: $jost;         
}
