.instrumentRow {
    justify-content: center;
    height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.removeInstrument {
    width: 10px;
    height: 10px;
    background-color: salmon;
    margin: 1px auto;
    line-height: 9px;
}