@import '../../../style/variables';

.wrapper {
    background-color: $light;
    margin-top: 1rem;

    width: 90%;
    height: 1.8rem;
    display: flex;
    @include center;
    border-radius: 20%;

    .text {
        background-color: white; 
        width: 80%;
        height: 60%;
        border-radius: 20%;
        @include shadow(0.3rem, 0.3rem, 1rem)
    }
}