@import '../../../../style/variables';

.menu {
    position: absolute;
    width: 7.2rem;
    margin: 0;
    padding: 0;
    height: auto;
    left: -2.5rem;
    top: 1.2rem;
    background-color: $white;
    @include shadow(0.4rem, 0.4rem, 0.4rem);
    border-radius: 0.7rem;
    z-index: 99;
    // border: 1px solid red;

    .polygon {
        transform: rotate(0);
    }

}
