@import '../../../../style/variables';

.tab {
    height: 100%;
    width: 7.8em;
    list-style: none;
    background-color: 'white';
    margin: 0;
    padding: 0;
    display: flex;
    @include center;
    background-color: rgba($color: #ffffff, $alpha: 1.0);

    .border {
        width: 90%;
        height: 70%;
        border: 1px solid rgba(166, 215, 230, 0.781);
        display: grid;
        position: relative;
        grid-template-columns: 5.4rem 1.4rem;
        vertical-align: bottom;

        .instrumentTitle {
            padding-left: 0.6rem;
            line-height: 1.3rem;
            font-family: $jost;
            font-size: 0.9rem;
            color: $textColor;
            text-shadow: 0 0 1px $textShadow;
            overflow: hidden;
            white-space: nowrap; 
        }

        .menuButton {
            width: 1.4rem;
            position: relative;
        }
    }

    
}

.radius {
    border-top-left-radius: 1rem;
}