@import '../../../../style/variables';

.menuButton {
    // border: 1px solid black;
    cursor: pointer;
    margin-top: 0.05rem;
    padding-left: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    // margin-bottom: 1rem;

    .color {
        fill: $dark;
    }
}