@import '../../../style/variables';

.contextMenu {
    position: absolute;
    width: 5rem;
    height: 3.5rem;
    // height: auto;
    z-index: 10;
    background-color: white;
    border-radius: 20%;
    @include shadow(0.3rem, 0.3rem, 0.3rem);
    display: flex;
    @include center;

    ul {
        // height: auto;
        // width: 100%;
        padding: 0;
        margin-bottom: 1.3rem;
        // border: 1px solid black;

        li {
            @include notselectable;
            width: auto;
            cursor: pointer;
            list-style: none;
            font-family: $jost;
            font-weight: 500;
            color: $textColor;
            text-shadow: 0 0 1px $textShadow;
            text-align: center;
            font-size: 0.9rem;
            // border: none;
            // outline: none;
            border-bottom: 0.5px solid $textColor;
            background-color: none;
            text-shadow: 0 0 1px $textShadow;
            &:hover {
                background-color: $light;
                color: white;
            }
        }
    }
}