@import '../../../../style/variables';

.svg {
    padding-left: 0.33rem;
    padding-top: 0.1rem;

    .active {
        fill: $dark;
    }

    .inactive {
        fill: $light;
    }

}

.pointer {
    cursor: pointer;
}