@import '../../../style/variables';

.cc {
    fill: $dark;
}

.white {
    fill: $white;
}

.svg {
    height: 95%;
    width: 95%;

}

.hover {
    @include shadow(3px, 5px, 5px);
    cursor: pointer;
}