@import './variables';

.mainWindow {
    border: black 1px solid;
    // height: 43vh;
    height: $MainWindow-height;
    margin: 10px auto;
    display: flex;
    flex-direction: row;

    .instrumentWrapper {
        width: 50%;
        border-right: 1px solid black;
        display: flex;
        flex-direction: row;
        
        .trackControl {
            width: 30%;
            border-right: 1px solid black;
            overflow: auto;
            font-size: 10px;

            .addInstrument {
                border: 1px solid black;
                margin: 3px auto;
                margin-bottom: 5px;
                width: 10px;
                height: 10px;
                line-height: 9px;

                :nth-child(2) {
                    border-bottom: 1px solid black;
                }
            }

            
        }
    }
}

