@import '../../../style/variables';

.box {
    background-color: $light;
    width: 38%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 1rem;
    margin-top: 2rem;

    .dropdown {
        margin-top: 0.35rem;
    }

    .buttons {
        margin-top: 0.35rem;
        margin-left: 0.3rem;
    }
}