@import '../../../../style/variables';

.tabs {
    height: 100%;
    width: 1.83rem;

    .selector {
        background-color: $white;
        height: 7.8rem;
        width: 1.7rem;
        z-index: 10;
        border-top-right-radius: 1rem;
        display: flex;
        @include center;

        .border {
            height: 90%;
            width: 70%;
            border: 1px solid rgba(166, 215, 230, 0.781);
            border-top-right-radius: 1rem;
            display: grid;
            position: relative;
            grid-template-rows: 5.6rem 1.4rem;

            .effectTitle {
                cursor: pointer;
                display: flex;
                margin: 0;
                padding: 0;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                padding-top: 0.6rem;
                line-height: 1.3rem;
                font-family: $jost;
                font-size: 0.9rem;
                color: $textColor;
                text-align: end;
                text-shadow: 0 0 1px $textShadow;
                overflow: hidden;
                white-space: nowrap; 
            }

            .menuWrapper {
                height: 1.4rem;
                position: absolute;
                top: 5.5rem;
                left: -0.2rem;
                transform: rotate(90deg);

                .remove {
                    background-color: $light;
                    color: white;

                    &:hover {
                        background-color: $light;
                        color: white;
                    }
                }

                .rotate {
                    transform: rotate(180deg);
                }
            }

            
        }

    }

    .plus {
        background-color: $blue;
        display: flex;
        @include center;
        position: relative;
        height: 1.5rem;
        width: 1.7rem;
        @include shadow(0, 0.3rem, 0.3rem);
        border-bottom-right-radius: 1rem;
        z-index: 1;
        cursor: pointer;

        .svg {

        }


    }
}
