@import '../../../style/variables';

.box {
    width: 1.7rem;
    height: 1.7rem;
    background-color: white;
    @include shadow(0.18rem, 0.15rem, 0.15rem);
    border-radius: 0.7rem;
    display:flex;
    @include center;

    .form {
        width: 90%;
        height: 90%;
        input::-webkit-inner-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
            appearance: none;
        }

        .input {
            margin-left: 0.15rem;
            width: 65%;
            height: 65%;
            font-size: 0.9rem;
            text-align: center;
            background-color: none;
            font-family: $jost;
            text-shadow: 0 0 1px $textShadow;
            border: none;
            border-bottom: 0.5px solid $textColor;
            outline: none;
            color: $textColor;
            &::placeholder {
                color: $textColor;
            }    
        }
    }
}