@import '../../../../style/variables';


.svg {
    margin-left: 0.25rem;
    margin-top: 0.1rem;

    .color {
        fill: $dark;
    }

    .light {
        stop-color: $light;
    }

    .white {
        fill: $white;
    }
}

.hover {
    @include shadow(3px, 5px, 5px);
    cursor: pointer;
}